@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/onramp');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600&display=swap');
* {
    font-family: 'ONRAMP', sans-serif;
    text-rendering: optimizeLegibility; /* For safari */
}
body,html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hides scrollbar across x-axis */
}
a {    /* Removes default styling for links, and React Links */
    text-decoration: none;
    color: inherit;
}
/*–––––––––––––––––––––––––––––––––––––––––––––––– */

/* VARIABLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root { /* Defining dark mode variables */
    --text: white;
    --bgColor1: #5cdb95;
    --bgColor2: #05386b;
    --bgColor3: #747474;

    --header: #5cdb95;
    --header-text: #05386b;

    --footer: #05386b;
    --footer-text: white;

    --font1: 'Poppins', sans-serif;
    --font2: 'ONRAMP', sans-serif;
    --font3: 'Rajdhani', sans-serif;
}

/* APP GRID
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.App {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    grid-template-areas: "head" "main" "foot";
    background-color: var(--bgColor1);
    color: var(--text);
}
#backdrop-shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:rgb(0, 0, 0);
}
/* Indexes */
header, main, footer {z-index: 0}
#backdrop-shadow {z-index: 1}
#login-container {z-index: 2}
.success-popup {z-index: 3}

/* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1 {
    font-weight: 100;
    text-align: center;
    transition: color 0.2s, transform 0.2s;
}
h1:hover {
    color: white;
    transform: scale(1.2);
}
.wallys {font-weight: 800}
.blog {font-weight: 100}
header {
    display: grid;
    grid-template-columns: 250px 1fr repeat(2, 90px);
    gap: 10px;
    align-items: center;

    position: sticky;
    background-color: var(--header);
    color: var(--header-text);
    padding: 30px;
    padding-right: 60px;
    text-align: left;
    user-select: none;
    border-bottom: 1px solid var(--bgColor2);
}
#login-btn, #register-btn > button {
    width: 360px;
    height: 50px;
    border: 2px solid #eee;
    background-color:#b6bdc9;
    text-align: center;
    letter-spacing: 0.7px;
    border-radius: 8px;
    font-size: 1.3em;
    font-weight: 100;
    cursor: pointer;
    width: 100%;
    padding: 7px;
}
#register-btn > button {
    margin-right: 7px;
    background-color: #e9ecf0;
    color: #1859c9;
    border: 2px solid #1859c9;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}
#register-btn > button:hover {
    background-color: #1859c9;
    color: white;
    border: 2px solid white;
}
#login-btn {
    grid-column: 3/4;
    background-color: #1859c9;
    color: white;
    border: 2px solid white;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}
#login-btn:hover {
    background-color: #e9ecf0;
    color: #1859c9;
    border: 2px solid #1859c9;
}

/* MAIN
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#welcome {
    height: 200px;

    margin: 0 30px 0 30px;
    padding: 50px;
    border-bottom: 1px solid #05386b;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    justify-items: center;
    text-align: center;
}
#welcome > span {
    max-width: 640px;
    font-size: 1.3em;
    font-weight: 900;
    font-family: var(--font3);
    color: var(--bgColor2);
}
.all-posts {
    letter-spacing: 0.2rem;
    text-align: center;
    font-size: 3.3em;
    user-select: none;
}
#content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 10px;
    align-items: center;
    justify-items: center;

    margin: 0 auto;
    padding: 20px;
}
.post, .msg {
    display: grid;
    grid-template-rows: 40px 45px 50px;
    grid-template-columns: 100px 1fr;
    align-items: center;

    border: 2px dotted var(--bgColor2);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    transition: background-color 0.5s, border 0.5s;

    width: 260px;

    color: var(--bgColor2);;
}
.post:hover, .msg:hover {
    background-color: rgb(230, 230, 230);
    border: 2px dotted var(--bgColor2);
    border-radius: 10px;
}
.post:hover h2, .msg:hover h2,
.post:hover .date, .msg:hover .date {
    color: var(--bgColor2);
}
.post > h2, .msg > h2 {
    grid-column: 1/3;
    margin: 0;
    font-size: 2.1em;
    font-weight: 500;
    color: var(--text);

    transition: color 0.6s;
}
.post > h2:hover, .msg > h2:hover {cursor: pointer}
.content-snapshot, .msg-snapshot {
    font-size: 1.1em;
    grid-column: 1/3;
    grid-row: 2/3;
}
.content-snapshot > p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}
.content-snapshot > a {
    color: blue;
    font-size: 0.9em;
}
.content-snapshot > a:hover {
    text-decoration: underline;
}
.msg-count, .like-count {
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;
    user-select: none;
}
.msg-number, .like-number {
    position: relative;
    top: 12px;
    right: 9px;
    font-size: 1.7em;
    font-weight: 500;
    color: red;
}
.like-count {cursor: pointer}
.like-count > .material-symbols-outlined {
    font-weight: 200;
    font-size: 24px;
    color: #3b5998;
    border: 2px solid #3b5998;
    border-radius: 50%;
    padding: 5px;
}
.like-count > .material-symbols-outlined:hover {
    color: var(--bgColor1);
    border: 3px solid var(--bgColor1);
    font-weight: 700;
}
.msg-count > .material-symbols-outlined {
    font-weight: 200;
    font-size: 24px;

    border: 2px solid var(--bgColor2);
    border-radius: 50%;
    padding: 5px;
}
.post-details, .msg-details {
    grid-column: 2/3;
    grid-row: 3/4;
    display: grid;
    gap: 5px;
    justify-items: end;
}
.author {
    color: var(--bgColor2);
    font-weight: 00;
    font-size: 1.4em;
}
.date {
    color: var(--bgColor3);
    font-weight: 100;
    font-size: 1.1em;
    user-select: none;
    transition: color 0.6s;
}

/* POST PAGE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#detailed-post {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 30px 60px 30px 60px;
}
#detailed-post > span {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    max-width: 1000px;
    font-size: 1.3em;
    font-weight: 900;
    font-family: var(--font3);
    color: var(--bgColor2);
}
#detailed-post > h2 {
    letter-spacing: 0.2rem;
    text-align: center;
    font-size: 3.3em;
}
#like-post {
    margin: 0 120px 0 120px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border-top: 1px solid var(--bgColor2);
    border-bottom: 1px solid var(--bgColor2);

    font-size: 1.3em;
    font-weight: 900;
    font-family: var(--font3);
    color: var(--bgColor2);
}
#comment-form, #comment-noform {padding: 40px}
#comment-form > span, #comment-noform > span {
    font-size: 1.7em;
    font-weight: 100;
    color: var(--bgColor2);
}
#comment-form {
    display: grid;
    grid-template-rows: repeat(2, 40px) 1fr;
    gap: 15px;
    align-items: center;
    justify-items: center;
}
#comment-form > form {
    display: grid;
    grid-template-rows: 1fr 0.6fr;
    gap: 5px;
}
#comment-form > form > input[type='submit'] {background-color: var(--bgColor2)}
#comment-form > form > input[type='submit']:hover {
    background-color: white;
    color: var(--bgColor1);
    border: 1px solid var(--bgColor1);
}
#comment-form > form > textarea {
    width: 442px;
    height: 60px;
    font-size: 1.7em;
    padding: 15px;
    border: 1px solid black;
    border-radius: 7px;
    height: 100px;
}
#comment-noform {
    display: grid;
    grid-template-rows: repeat(3, 40px);
    gap: 15px;
    align-items: center;
    justify-items: center;
}
#comment-noform > button {
    grid-column: 1/2;
    width: 100px;
}

/* REGISTER & LOGIN
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.register-main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    padding: 5rem;
}
#login-container {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
}
.cross {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 25px;
}
.cross > .material-symbols-outlined {
    font-size: 27px;
    color: white;
    background: #FF605C;
    border-radius: 50%;
}
.cross > .material-symbols-outlined:hover {background: #bd3937}
#register, #login {
    color: var(--bgColor2);
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 31px 70px rgba(0,0,0,0.3);
    padding: 2rem;
}
h3 {
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}
.user-form > input {
    height: 60px;
    width: 100%;
    padding: 0 15px;
    font-size: 22px;
    margin-bottom: 1.3rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
}
.user-form > input {width: 93%}
.user-form > input[type='submit'] {width: 100%}
.user-form > input:focus {box-shadow: 0 1px 0 rgba(0,0,0,0.2)}
.user-form > a {
    font-size: 22px;
    color: var(--bgColor1);
    text-decoration: none;
}
.user-form > a:hover {text-decoration: underline}
.user-form > input[type='submit'] {
    color: #fff;
    background: var(--bgColor1);
    font-size: 2.1rem;
    font-weight: 100;
    letter-spacing: 2px;
    margin-top: 1.7rem;
    cursor: pointer;
    transition: 0.3s;
}
.user-form > input[type='submit']:hover {
    background: #e9ecf0;
    border: 1px solid #006653;
    color: #006653;
}
.signup{
    font-size: 17px;
    text-align: center;
}
.signup > label{
    color: #009579;
    cursor: pointer;
}
.signup > label:hover{text-decoration: underline}
.success-popup {
    position: fixed;
    bottom: 5%;
    right: 3%;
    width: 240px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    border-radius: 7px;
    box-shadow: 0 11px 40px rgba(0,0,0,0.3);
    background-color: white;
    padding: 10px 15px 10px 15px;
}
.success-msg {
    color: var(--bgColor2);
    font-size: 1.4em;
    font-weight: 500;
}
.tick {
    height: 35px;
    color: #fff;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    background: var(--bgColor1);
    padding: 18px;
    text-align: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.tick > .material-icons {
    font-weight: bold;
    font-size: 35px;
}

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#footer {
    display: grid;
    background-color: var(--footer);
    color: var(--footer-text);
    font-size: 1.4em;
    font-weight: 100;
    letter-spacing: 0.1rem;
    text-align: center;
    align-content: center;
    padding: 10px;
}
#footer-title {
    user-select: none;
    transition: color 0.2s;
}
#footer-title:hover {color: var(--bgColor1)}

/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header, #login-btn, #register-btn, #welcome, .all-posts, 
#content, footer, #detailed-post, #like-post, #comment-form, 
#comment-noform, #register, #login, #backdrop-shadow, .success-popup {
    opacity: 0;
    visibility: hidden;
    animation-duration: 0.6s;
        -webkit-animation-duration: 0.6s;
        -ms-animation-duration: 0.6s;
        -moz-animation-duration: 1.0s;
    animation-timing-function: cubic-bezier();
        -webkit-animation-timing-function: cubic-bezier();
    animation-fill-mode: forwards;
}
header, footer, #login, #backdrop-shadow, .success-popup {
    animation-delay: 0s;
}
#detailed-post, #register {
    animation-delay: 0.3s;
        -webkit-animation-delay: 0.3s;
        -ms-animation-delay: 0.3s;
        -moz-animation-delay: 0.3s;
}
#welcome, #login-btn, #register-btn, #like-post {
    animation-delay: 0.6s;
        -webkit-animation-delay: 0.6s;
        -ms-animation-delay: 0.6s;
        -moz-animation-delay: 0.6s;
}
.all-posts, #content, #comment-form, #comment-noform {
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
}
header, .all-posts, #comment-form, #comment-noform {animation-name: slide-down}
#login-btn, #register-btn, #like-post, .success-popup {animation-name: slide-left}
#welcome, #register {animation-name: slide-right}
#content, #footer {animation-name: slide-up}
#backdrop-shadow {animation-name: fade-in}
#login, #detailed-post {animation-name: grow-in}
@keyframes slide-right {
    0% {
        opacity: 0%;
        transform: translateX(-100px);
        visibility: hidden;
    }
    100% {
        opacity: 100%;
        transform: translateX(0px);
        visibility: visible;
    }
}
@keyframes slide-left {
    0% {
        opacity: 0%;
        transform: translateX(100px);
        visibility: hidden;
    }
    100% {
        opacity: 100%;
        transform: translateX(0px);
        visibility: visible;
    }
}
@keyframes slide-down {
    0% {
        opacity: 0%;
        transform: translateY(-100px);
        visibility: hidden;
    }
    100% {
        opacity: 100%;
        transform: translate(0px);
        visibility: visible;
    }
}
@keyframes slide-up {
    0% {
        opacity: 0%;
        transform: translateY(100px);
        visibility: hidden;
    }
    100% {
        opacity: 100%;
        transform: translate(0px);
        visibility: visible;
    }
}
@keyframes fade-right {
    0% {
        opacity: 100%;
        transform: translateX(0);
        visibility: visible;
    }
    100% {
        opacity: 100%;
        transform: translateX(100px);
        visibility: hidden;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0%;
        visibility: hidden;
    }
    100% {
        opacity: 25%;
        visibility: visible;
    }
}
@keyframes fade-out {
    0% {
        opacity: 25%;
        visibility: hidden;
    }
    100% {
        opacity: 0%;
        visibility: visible;
    }
}
@keyframes grow-in {
    0% {
        scale: 0.8;
        opacity: 0%;
        visibility: hidden;
    }
    100% {
        scale: 1.0;
        opacity: 100%;
        visibility: visible;
    }
}
