#detailed-post {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 30px;
}
#detailed-post > span {
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
}
#like-post {
    margin: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
#submit-comment {
    display: grid;
    grid-template-rows: repeat(3, 40px);
    gap: 5px;
    align-items: center;
    justify-items: center;
}
