@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility; /* For safari */
}
body,html {
    margin: 0;
    padding: 0;
}
a {    /* Removes default styling for links, and React Links */
    text-decoration: none;
    color: inherit;
}
/*–––––––––––––––––––––––––––––––––––––––––––––––– */

/* APP GRID
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.App {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    grid-template-areas: "head" "main" "foot";
}

/* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1 {
    font-weight: 700;
}
header {
    display: grid;
    grid-template-columns: 1fr repeat(2, 90px);
    gap: 10px;
    align-items: center;

    position: sticky;
    background-color: #fafafa;
    padding: 30px;
    padding-left: 40px;
    text-align: left;
    user-select: none;
    border-bottom: 1px solid rgb(185, 185, 185);
}
header > button {
    height: 30px;
}

/* MAIN
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#welcome {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 200px;
    margin: 30px;
    border-bottom: 1px solid rgb(190, 190, 190);
}
.all-posts {
    text-align: center;
    font-size: 2.0em;
    user-select: none;
}
#content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 10px;
    align-items: center;
    justify-items: center;

    margin: 0 auto;
    padding: 20px;
}
.post, .msg {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 100px 1fr;
    align-items: center;

    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    transition: background-color 0.5s, border 0.5s;

    width: 300px;
}
.post:hover, .msg:hover {
    background-color: rgb(230, 230, 230);
    border: 1px solid rgb(145, 145, 145);
}
.post > h2, .msg > h2 {
    grid-column: 1/3;
    margin: 0;
    font-size: 24px;
}
.post > h2:hover, .msg > h2:hover {
    text-decoration: underline;
    cursor: pointer;
}
.content-snapshot, .msg-snapshot {
    grid-column: 1/3;
    grid-row: 2/3;
}
.content-snapshot > p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}
.content-snapshot > a {
    color: blue;
    font-size: 0.9em;
}
.content-snapshot > a:hover {
    text-decoration: underline;
}
button {
    text-align: center;
    cursor: pointer;
    color: #fff;
    border: 2px solid transparent;
    border-color: #000;
    color: #000;
    background: transparent;
    font-weight: 800;
    transition: background,color .1s ease-in-out;
}
button:hover {
    background-color: #000;
    color: #fff;
}
.msg-count, .like-count {
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;
    user-select: none;
}
.msg-number, .like-number {
    position: relative;
    top: 12px;
    right: 9px;

    font-weight: 800;
    color: red;
}
.post-details, .msg-details {
    grid-column: 2/3;
    grid-row: 3/4;
    display: grid;
    gap: 5px;
    justify-items: end;
}
.author {
    font-weight: bold;
}
.date {
    color: #999;
    user-select: none;
}

/* POST PAGE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#detailed-post {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 30px;
}
#detailed-post > span {
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
}
#like-post {
    margin: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
#comment-form {
}

#comment-noform {
    display: grid;
    grid-template-rows: repeat(3, 40px);
    gap: 5px;
    align-items: center;
    justify-items: center;
}

/* REGISTER & LOGIN
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* #log-in {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 7px;
    padding: 15px;

    display: grid;
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
} */


.register-main, .login-main {
    z-index: 1;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    padding: 5rem;
}
#register, #login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    padding: 2rem;
}
h3 {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.5rem;
}
.user-form > input {
    height: 60px;
    width: 100%;
    padding: 0 15px;
    font-size: 17px;
    margin-bottom: 1.3rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
}
.user-form > input {width: 93%}
.user-form > input[type='submit'] {width: 100%}
.user-form > input:focus {
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
.user-form > a {
    font-size: 16px;
    color: #009579;
    text-decoration: none;
}
.user-form > a:hover {
    text-decoration: underline;
}
.user-form > input[type='submit'] {
    color: #fff;
    background: #009579;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 1.7rem;
    cursor: pointer;
    transition: 0.4s;
}
.user-form > input[type='submit']:hover {
    background: #006653;
}
.signup{
    font-size: 17px;
    text-align: center;
}
.signup > label{
    color: #009579;
    cursor: pointer;
}
.signup > label:hover{
    text-decoration: underline;
}

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#footer {
    display: grid;
    background-color: #e0e0e0;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-size: 1.1em;
    text-align: center;
    align-content: center;
    padding: 10px;
}
#footer-title {
    transition: color 0.3s;
}
#footer-title:hover {
    color: #0000007e;
}

/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header, #login-btn, #register-btn, #welcome, .all-posts, 
#content, footer, #detailed-post, #like-post, #comment-form, 
#comment-noform {
    opacity: 0;
    visibility: hidden;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier();
    -webkit-animation-timing-function: cubic-bezier();
    -webkit-animation-duration: 0.9s;
    -ms-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
}
header, footer {
    animation-delay: 0s;
}
#detailed-post {
    animation-delay: 0.3s;
}
#welcome, #login-btn, #register-btn, #like-post {
    animation-delay: 0.6s;
}
.all-posts, #content, #comment-form, #comment-noform {
    animation-delay: 1.2s;
}
header, .all-posts, #comment-form, #comment-noform {animation-name: slide-down}
#login-btn, #register-btn, #like-post {animation-name: slide-left}
#welcome, #detailed-post {animation-name: slide-right}
#content, #footer {animation-name: slide-up}
@keyframes slide-right {
    0% {
        opacity: 0%;
        transform: translateX(-100px);
        visibility: hidden;
    }
    100% {
        opacity: 100%;
        transform: translateX(0px);
        visibility: visible;
    }
}
@keyframes slide-left {
    0% {
        opacity: 0%;
        transform: translateX(100px);
        visibility: hidden;
    }
    100% {
        opacity: 100%;
        transform: translateX(0px);
        visibility: visible;
    }
}
@keyframes slide-down {
    0% {
        opacity: 0%;
        transform: translateY(-100px);
        visibility: hidden;
    }
    100% {
        opacity: 100%;
        transform: translate(0px);
        visibility: visible;
    }
}
@keyframes slide-up {
    0% {
        opacity: 0%;
        transform: translateY(100px);
        visibility: hidden;
    }
    100% {
        opacity: 100%;
        transform: translate(0px);
        visibility: visible;
    }
}
